<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>303159263081-rf6rq0meha85fumt9hnpk7oanb472rif.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.303159263081-rf6rq0meha85fumt9hnpk7oanb472rif</string>
	<key>API_KEY</key>
	<string>AIzaSyD-7dS4SgD9P1Cx-5r1xTDHZWw7vz8bNjY</string>
	<key>GCM_SENDER_ID</key>
	<string>303159263081</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>app.hori.moat.Renda</string>
	<key>PROJECT_ID</key>
	<string>renda-20f58</string>
	<key>STORAGE_BUCKET</key>
	<string>renda-20f58.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:303159263081:ios:789de6a3601ce9f62487f8</string>
</dict>
</plist>